{% extends "auctions/layout.html" %}

{% block body %}

    <ul class="list-group list-group-flush">
        {% for listing in listings %}
            <li>
                <div class="parent">
                    <div id="img"><img src="{{ listing.image_url }}" alt="Listing image" width=200px></div>                    
                    <div class="child">
                        <a style="font-size: 1.17em; font-weight: bold;" href="{% url 'listing_page' id=listing.id %}">{{ listing.title }}</a>
                        <p>Current bid ${{ listing.current_bid.amount }}</p>
                        <p>Listing by: <strong>{{ listing.owner }}</strong></p>
                    </div>

                    <div class="grandchild"><p class="lead">{{ listing.description }}</p></div>
         
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}