{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    
    {% for listing in listings %}

        <div class="jumbotron">
            <img src="{{ listing.image_url }}" alt="Listing image" width=200px>
            <h3>
                <a href="{% url 'listing_page' id=listing.id %}">{{ listing.title }}</a>
            </h3>
            <p class="lead">{{ listing.description }}</p>
            <p>Current bid ${{ listing.current_bid.amount }}</p>
            <strong><div>Listing by: {{ listing.owner }}</div></strong>
        </div>
        <div>--------------------------</div>
    {% endfor %}

{% endblock %}