{% extends "auctions/layout.html" %}

{% block body %}
    <h3>New listing</h3>

    <div id="new">
        <form action="{% url 'new_listing' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text", name="url", placeholder="Image URL">
            </div>
            <div class="form-group">
                <input class="form-control" type="text", name="title", placeholder="Listing Title...">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="description", rows="5", cols="50", placeholder="Write your description here..."></textarea>
            </div>
            <div class="form-group">
                <input class="form-control" type="text", name="start_price", placeholder="Minimum bid in dollars"
            </div>
            <div>
                <input type="submit", value="Save listing", class="btn btn-success"></input>
            </div>
        </form>
    </div>
{% endblock %}